In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("C:/Users/KyRun69/Downloads/sql_population.csv")
df=pd.DataFrame(data)
pop={"Pays":df.Zone.tolist(),"Code Pays":df["Code zone"].tolist(),"Année":df.Année.tolist(),"Population":df.Valeur.tolist()}
df_pop=pd.DataFrame(pop)
df_pop.Population=df_pop.Population*1000

df_pop=df_pop.rename(columns={"Année":"Annee"})
df_pop.to_csv("population_sql.csv", sep='\t', encoding='utf-8', index = False)
print(df_pop)

      Annee  Code Pays                                    Pays  Population
0      2013          2                             Afghanistan  31731700.0
1      2014          2                             Afghanistan  32758000.0
2      2015          2                             Afghanistan  33736500.0
3      2016          2                             Afghanistan  34656000.0
4      2017          2                             Afghanistan  35530100.0
5      2013        202                          Afrique du Sud  53767400.0
6      2014        202                          Afrique du Sud  54539600.0
7      2015        202                          Afrique du Sud  55291200.0
8      2016        202                          Afrique du Sud  56015500.0
9      2017        202                          Afrique du Sud  56717200.0
10     2013          3                                 Albanie   2918980.0
11     2014          3                                 Albanie   2920780.0
12     2015          3                                 Albanie   2923350.0
13     2016          3                                 Albanie   2926350.0
14     2017          3                                 Albanie   2930190.0
15     2013          4                                 Algérie  38338600.0
16     2014          4                                 Algérie  39113300.0
17     2015          4                                 Algérie  39871500.0
18     2016          4                                 Algérie  40606100.0
19     2017          4                                 Algérie  41318100.0
20     2013         79                               Allemagne  81265100.0
21     2014         79                               Allemagne  81489700.0
22     2015         79                               Allemagne  81707800.0
23     2016         79                               Allemagne  81914700.0
24     2017         79                               Allemagne  82114200.0
25     2013          6                                 Andorre     80788.0
26     2014          6                                 Andorre     79223.0
27     2015          6                                 Andorre     78014.0
28     2016          6                                 Andorre     77281.0
29     2017          6                                 Andorre     76965.0
...     ...        ...                                     ...         ...
1120   2013        155                                 Vanuatu    253142.0
1121   2014        155                                 Vanuatu    258850.0
1122   2015        155                                 Vanuatu    264603.0
1123   2016        155                                 Vanuatu    270402.0
1124   2017        155                                 Vanuatu    276244.0
1125   2013        236  Venezuela (République bolivarienne du)  30317800.0
1126   2014        236  Venezuela (République bolivarienne du)  30738400.0
1127   2015        236  Venezuela (République bolivarienne du)  31155100.0
1128   2016        236  Venezuela (République bolivarienne du)  31568200.0
1129   2017        236  Venezuela (République bolivarienne du)  31977100.0
1130   2013        237                                Viet Nam  91497700.0
1131   2014        237                                Viet Nam  92544900.0
1132   2015        237                                Viet Nam  93571600.0
1133   2016        237                                Viet Nam  94569100.0
1134   2017        237                                Viet Nam  95540800.0
1135   2013        249                                   Yémen  25576300.0
1136   2014        249                                   Yémen  26246300.0
1137   2015        249                                   Yémen  26916200.0
1138   2016        249                                   Yémen  27584200.0
1139   2017        249                                   Yémen  28250400.0
1140   2013        251                                  Zambie  15153200.0
1141   2014        251                                  Zambie  15621000.0
1142   2015        251                                  Zambie  16100600.0
1143   2016        251                                  Zambie  16591400.0
1144   2017        251                                  Zambie  17094100.0
1145   2013        181                                Zimbabwe  15054500.0
1146   2014        181                                Zimbabwe  15411700.0
1147   2015        181                                Zimbabwe  15777500.0
1148   2016        181                                Zimbabwe  16150400.0
1149   2017        181                                Zimbabwe  16529900.0

[1150 rows x 4 columns]

In [2]:
data2 = pd.read_csv("C:/Users/KyRun69/Downloads/pop10-13.csv")
df_pop10=pd.DataFrame(data2)
pop10={"Pays":df_pop10.Zone.tolist(),"Année":df_pop10.Année.tolist(),"Population":df_pop10.Valeur.tolist()}
df_pop10=pd.DataFrame(pop10)
df_pop10.Population=df_pop10.Population*1000


animaux=pd.read_csv("C:/Users/KyRun69/Downloads/sql_animaux.csv")
df_animaux=pd.DataFrame(animaux)

vegetaux=pd.read_csv("C:/Users/KyRun69/Downloads/sql_vegetaux.csv")
df_vegetaux=pd.DataFrame(vegetaux)

df_animaux["nature"]="animal"
df_vegetaux["nature"]="vegetal"
df_concat1=pd.merge(df_animaux,df_vegetaux,how="outer")

df_concat=df_concat1[df_concat1["Code Élément"]==645]
df_concat=df_concat.rename(columns = {"Valeur":"dispo_alim_tonnes"})
df_concat=pd.merge(df_concat,df_pop10,how="left")
df_concat["dispo_alim_tonnes"]=df_concat["dispo_alim_tonnes"]*df_concat["Population"]*365
df_concat=df_concat.reset_index(drop=True)


df_011=df_concat1[df_concat1["Code Élément"]==664]
test={"Pays":df_011.Pays.tolist(),"Produit":df_011.Produit.tolist(),"Année":df_011.Année.tolist(),"dispo_alim_kcal_p_j":df_011.Valeur.tolist()}
df_01=pd.DataFrame(test)


df_022=df_concat1[df_concat1["Code Élément"]==674]
test2={"Pays":df_022.Pays.tolist(),"Produit":df_022.Produit.tolist(),"Année":df_022.Année.tolist(),"dispo_prot":df_022.Valeur.tolist()}
df_02=pd.DataFrame(test2)

df_033=df_concat1[df_concat1["Code Élément"]==684]
test3={"Pays":df_033.Pays.tolist(),"Produit":df_033.Produit.tolist(),"Année":df_033.Année.tolist(),"dispo_matiere_grasse":df_033.Valeur.tolist()}
df_03=pd.DataFrame(test3)


df_concat=pd.merge(df_concat,df_01,how="left")
df_concat=pd.merge(df_concat,df_02,how="left")
df_concat=pd.merge(df_concat,df_03,how="left")

df_concat=df_concat.drop(columns=["Code Domaine","Domaine","Code Élément", "Élément", "Symbole","Code Année","Unité","Description du Symbole","Population"])
df_concat=df_concat.rename(columns = {"Année":"Annee"})
df_concat.to_csv("dispo_alim_sql.csv", sep='\t', encoding='utf-8', index = False)

#print(df_01)
#print(df_02)
print(df_concat)

       Code Pays         Pays  Code Produit                 Produit  Annee  \
0              2  Afghanistan          2731        Viande de Bovins   2010
1              2  Afghanistan          2731        Viande de Bovins   2011
2              2  Afghanistan          2731        Viande de Bovins   2012
3              2  Afghanistan          2731        Viande de Bovins   2013
4              2  Afghanistan          2732  Viande d'Ovins/Caprins   2010
5              2  Afghanistan          2732  Viande d'Ovins/Caprins   2011
6              2  Afghanistan          2732  Viande d'Ovins/Caprins   2012
7              2  Afghanistan          2732  Viande d'Ovins/Caprins   2013
8              2  Afghanistan          2734     Viande de Volailles   2010
9              2  Afghanistan          2734     Viande de Volailles   2011
10             2  Afghanistan          2734     Viande de Volailles   2012
11             2  Afghanistan          2734     Viande de Volailles   2013
12             2  Afghanistan          2735           Viande, Autre   2010
13             2  Afghanistan          2735           Viande, Autre   2011
14             2  Afghanistan          2735           Viande, Autre   2012
15             2  Afghanistan          2735           Viande, Autre   2013
16             2  Afghanistan          2736        Abats Comestible   2010
17             2  Afghanistan          2736        Abats Comestible   2011
18             2  Afghanistan          2736        Abats Comestible   2012
19             2  Afghanistan          2736        Abats Comestible   2013
20             2  Afghanistan          2740            Beurre, Ghee   2010
21             2  Afghanistan          2740            Beurre, Ghee   2011
22             2  Afghanistan          2740            Beurre, Ghee   2012
23             2  Afghanistan          2740            Beurre, Ghee   2013
24             2  Afghanistan          2743                   Crème   2010
25             2  Afghanistan          2743                   Crème   2011
26             2  Afghanistan          2743                   Crème   2012
27             2  Afghanistan          2743                   Crème   2013
28             2  Afghanistan          2737  Graisses Animales Crue   2010
29             2  Afghanistan          2737  Graisses Animales Crue   2011
...          ...          ...           ...                     ...    ...
56108        181     Zimbabwe          2641                 Piments   2012
56109        181     Zimbabwe          2641                 Piments   2013
56110        181     Zimbabwe          2642                Girofles   2010
56111        181     Zimbabwe          2642                Girofles   2011
56112        181     Zimbabwe          2642                Girofles   2012
56113        181     Zimbabwe          2642                Girofles   2013
56114        181     Zimbabwe          2645          Épices, Autres   2010
56115        181     Zimbabwe          2645          Épices, Autres   2011
56116        181     Zimbabwe          2645          Épices, Autres   2012
56117        181     Zimbabwe          2645          Épices, Autres   2013
56118        181     Zimbabwe          2655                     Vin   2010
56119        181     Zimbabwe          2655                     Vin   2011
56120        181     Zimbabwe          2655                     Vin   2012
56121        181     Zimbabwe          2655                     Vin   2013
56122        181     Zimbabwe          2656                   Bière   2010
56123        181     Zimbabwe          2656                   Bière   2011
56124        181     Zimbabwe          2656                   Bière   2012
56125        181     Zimbabwe          2656                   Bière   2013
56126        181     Zimbabwe          2657      Boissons Fermentés   2010
56127        181     Zimbabwe          2657      Boissons Fermentés   2011
56128        181     Zimbabwe          2657      Boissons Fermentés   2012
56129        181     Zimbabwe          2657      Boissons Fermentés   2013
56130        181     Zimbabwe          2658    Boissons Alcooliques   2010
56131        181     Zimbabwe          2658    Boissons Alcooliques   2011
56132        181     Zimbabwe          2658    Boissons Alcooliques   2012
56133        181     Zimbabwe          2658    Boissons Alcooliques   2013
56134        181     Zimbabwe          2680   Aliments pour enfants   2010
56135        181     Zimbabwe          2680   Aliments pour enfants   2011
56136        181     Zimbabwe          2680   Aliments pour enfants   2012
56137        181     Zimbabwe          2680   Aliments pour enfants   2013

       dispo_alim_tonnes   nature  dispo_alim_kcal_p_j  dispo_prot  \
0           4.941183e+10   animal                 28.0        1.94
1           5.237477e+10   animal                 28.0        2.00
2           5.759056e+10   animal                 30.0        2.13
3           5.316168e+10   animal                 27.0        1.89
4           5.824288e+10   animal                 35.0        2.15
5           5.974845e+10   animal                 35.0        2.14
6           5.826283e+10   animal                 33.0        2.02
7           5.698377e+10   animal                 31.0        1.91
8           2.460078e+10   animal                  8.0        0.84
9           2.851877e+10   animal                  9.0        0.94
10          1.747885e+10   animal                  5.0        0.56
11          2.837606e+10   animal                  9.0        0.87
12          4.415526e+09   animal                  1.0        0.19
13          4.337455e+09   animal                  1.0        0.18
14          4.369712e+09   animal                  1.0        0.17
15          4.401185e+09   animal                  1.0        0.17
16          1.986986e+10   animal                  6.0        0.84
17          2.060291e+10   animal                  6.0        0.85
18          2.039199e+10   animal                  6.0        0.81
19          1.992115e+10   animal                  5.0        0.77
20          1.251066e+10   animal                 23.0        0.03
21          1.247018e+10   animal                 23.0        0.03
22          1.322118e+10   animal                 23.0        0.03
23          1.355102e+10   animal                 23.0        0.03
24          4.205262e+08   animal                  0.0        0.00
25          1.084364e+09   animal                  1.0        0.01
26          1.344527e+09   animal                  1.0        0.01
27          6.949240e+09   animal                  3.0        0.04
28          5.887367e+09   animal                 13.0        0.01
29          5.964001e+09   animal                 13.0        0.01
...                  ...      ...                  ...         ...
56108       3.597532e+09  vegetal                  6.0        0.22
56109       3.736528e+09  vegetal                  6.0        0.22
56110       0.000000e+00  vegetal                  0.0         NaN
56111       0.000000e+00  vegetal                  0.0         NaN
56112       0.000000e+00  vegetal                  0.0         NaN
56113       0.000000e+00  vegetal                  0.0         NaN
56114       5.141506e+08  vegetal                  1.0        0.03
56115       4.726014e+08  vegetal                  1.0        0.03
56116       2.684726e+08  vegetal                  0.0        0.02
56117       3.296937e+08  vegetal                  1.0        0.02
56118       1.491037e+09  vegetal                  1.0         NaN
56119       1.365293e+09  vegetal                  0.0         NaN
56120       1.396057e+09  vegetal                  0.0         NaN
56121       1.483622e+09  vegetal                  1.0         NaN
56122       1.022645e+11  vegetal                 23.0        0.27
56123       1.109038e+11  vegetal                 25.0        0.29
56124       1.191481e+11  vegetal                 26.0        0.30
56125       1.133597e+11  vegetal                 24.0        0.28
56126       5.182638e+10  vegetal                  9.0        0.13
56127       5.445419e+10  vegetal                 10.0        0.13
56128       5.670141e+10  vegetal                 10.0        0.13
56129       5.736670e+10  vegetal                 10.0        0.13
56130       2.072027e+10  vegetal                 33.0         NaN
56131       2.016433e+10  vegetal                 31.0         NaN
56132       2.813593e+10  vegetal                 42.0         NaN
56133       2.829871e+10  vegetal                 42.0         NaN
56134       0.000000e+00  vegetal                  0.0        0.00
56135       0.000000e+00  vegetal                  0.0        0.00
56136       0.000000e+00  vegetal                  0.0        0.00
56137       0.000000e+00  vegetal                  0.0        0.00

       dispo_matiere_grasse
0                      2.16
1                      2.21
2                      2.36
3                      2.10
4                      2.90
5                      2.88
6                      2.72
7                      2.55
8                      0.51
9                      0.57
10                     0.34
11                     0.53
12                     0.07
13                     0.07
14                     0.07
15                     0.06
16                     0.23
17                     0.23
18                     0.22
19                     0.20
20                     2.64
21                     2.55
22                     2.61
23                     2.61
24                     0.02
25                     0.05
26                     0.06
27                     0.32
28                     1.49
29                     1.47
...                     ...
56108                  0.32
56109                  0.32
56110                   NaN
56111                   NaN
56112                   NaN
56113                   NaN
56114                  0.04
56115                  0.04
56116                  0.02
56117                  0.02
56118                   NaN
56119                   NaN
56120                   NaN
56121                   NaN
56122                   NaN
56123                   NaN
56124                   NaN
56125                   NaN
56126                   NaN
56127                   NaN
56128                   NaN
56129                   NaN
56130                   NaN
56131                   NaN
56132                   NaN
56133                   NaN
56134                  0.00
56135                  0.00
56136                  0.00
56137                  0.00

[56138 rows x 10 columns]

In [3]:
data3= pd.read_csv("C:/Users\/KyRun69\Downloads\equilibre_prod.csv")
équilibre=pd.DataFrame(data3)
équilibre.Valeur=équilibre.Valeur*1000000

équilibre_prod=équilibre[équilibre["Code Élément"]==5301]
équilibre_prod=équilibre_prod.rename(columns = {"Valeur":"dispo_int"})

d_001=équilibre[équilibre["Code Élément"]==5521]
teste={"Pays":d_001.Pays.tolist(),"Produit":d_001.Produit.tolist(),"Année":d_001.Année.tolist(),"alim_ani":d_001.Valeur.tolist()}
d_01=pd.DataFrame(teste)

d_002=équilibre[équilibre["Code Élément"]==5527]
teste={"Pays":d_002.Pays.tolist(),"Produit":d_002.Produit.tolist(),"Année":d_002.Année.tolist(),"semences":d_002.Valeur.tolist()}
d_02=pd.DataFrame(teste)

d_003=équilibre[équilibre["Code Élément"]==5123]
teste={"Pays":d_003.Pays.tolist(),"Produit":d_003.Produit.tolist(),"Année":d_003.Année.tolist(),"pertes":d_003.Valeur.tolist()}
d_03=pd.DataFrame(teste)

d_004=équilibre[équilibre["Code Élément"]==5131]
teste={"Pays":d_004.Pays.tolist(),"Produit":d_004.Produit.tolist(),"Année":d_004.Année.tolist(),"transfo":d_004.Valeur.tolist()}
d_04=pd.DataFrame(teste)

d_005=équilibre[équilibre["Code Élément"]==5142]
teste={"Pays":d_005.Pays.tolist(),"Produit":d_005.Produit.tolist(),"Année":d_005.Année.tolist(),"nourriture":d_005.Valeur.tolist()}
d_05=pd.DataFrame(teste)

d_006=équilibre[équilibre["Code Élément"]==5154]
teste={"Pays":d_006.Pays.tolist(),"Produit":d_006.Produit.tolist(),"Année":d_006.Année.tolist(),"autres_utilisations":d_006.Valeur.tolist()}
d_06=pd.DataFrame(teste)




équilibre_prod=pd.merge(équilibre_prod,d_01,how="left")
équilibre_prod=pd.merge(équilibre_prod,d_02,how="left")
équilibre_prod=pd.merge(équilibre_prod,d_03,how="left")
équilibre_prod=pd.merge(équilibre_prod,d_04,how="left")
équilibre_prod=pd.merge(équilibre_prod,d_05,how="left")
équilibre_prod=pd.merge(équilibre_prod,d_06,how="left")

équilibre_prod=équilibre_prod.drop(columns=["Code Domaine", "Domaine","Code Élément","Élément","Code Année","Unité","Symbole","Description du Symbole"])
équilibre_prod=équilibre_prod.rename(columns = {"Année":"Annee"})
équilibre_prod.to_csv("équilibre_prod_sql.csv", sep='\t', encoding='utf-8', index = False)

print(équilibre_prod)

       Code Pays         Pays  Code Produit                  Produit  Annee  \
0              2  Afghanistan          2511                      Blé   2010
1              2  Afghanistan          2511                      Blé   2011
2              2  Afghanistan          2511                      Blé   2012
3              2  Afghanistan          2511                      Blé   2013
4              2  Afghanistan          2805         Riz (Eq Blanchi)   2010
5              2  Afghanistan          2805         Riz (Eq Blanchi)   2011
6              2  Afghanistan          2805         Riz (Eq Blanchi)   2012
7              2  Afghanistan          2805         Riz (Eq Blanchi)   2013
8              2  Afghanistan          2513                     Orge   2010
9              2  Afghanistan          2513                     Orge   2011
10             2  Afghanistan          2513                     Orge   2012
11             2  Afghanistan          2513                     Orge   2013
12             2  Afghanistan          2514                     Maïs   2010
13             2  Afghanistan          2514                     Maïs   2011
14             2  Afghanistan          2514                     Maïs   2012
15             2  Afghanistan          2514                     Maïs   2013
16             2  Afghanistan          2517                   Millet   2010
17             2  Afghanistan          2517                   Millet   2011
18             2  Afghanistan          2517                   Millet   2012
19             2  Afghanistan          2517                   Millet   2013
20             2  Afghanistan          2520         Céréales, Autres   2010
21             2  Afghanistan          2520         Céréales, Autres   2011
22             2  Afghanistan          2520         Céréales, Autres   2012
23             2  Afghanistan          2520         Céréales, Autres   2013
24             2  Afghanistan          2531          Pommes de Terre   2010
25             2  Afghanistan          2531          Pommes de Terre   2011
26             2  Afghanistan          2531          Pommes de Terre   2012
27             2  Afghanistan          2531          Pommes de Terre   2013
28             2  Afghanistan          2536             Sucre, canne   2010
29             2  Afghanistan          2536             Sucre, canne   2011
...          ...          ...           ...                      ...    ...
61574        181     Zimbabwe          2762                Perciform   2012
61575        181     Zimbabwe          2762                Perciform   2013
61576        181     Zimbabwe          2763      Poissons Pelagiques   2010
61577        181     Zimbabwe          2763      Poissons Pelagiques   2011
61578        181     Zimbabwe          2763      Poissons Pelagiques   2012
61579        181     Zimbabwe          2763      Poissons Pelagiques   2013
61580        181     Zimbabwe          2764  Poissons Marins, Autres   2010
61581        181     Zimbabwe          2764  Poissons Marins, Autres   2011
61582        181     Zimbabwe          2764  Poissons Marins, Autres   2012
61583        181     Zimbabwe          2764  Poissons Marins, Autres   2013
61584        181     Zimbabwe          2765                Crustacés   2010
61585        181     Zimbabwe          2765                Crustacés   2011
61586        181     Zimbabwe          2765                Crustacés   2012
61587        181     Zimbabwe          2765                Crustacés   2013
61588        181     Zimbabwe          2766             Cephalopodes   2010
61589        181     Zimbabwe          2766             Cephalopodes   2011
61590        181     Zimbabwe          2766             Cephalopodes   2012
61591        181     Zimbabwe          2766             Cephalopodes   2013
61592        181     Zimbabwe          2767       Mollusques, Autres   2010
61593        181     Zimbabwe          2767       Mollusques, Autres   2011
61594        181     Zimbabwe          2767       Mollusques, Autres   2012
61595        181     Zimbabwe          2767       Mollusques, Autres   2013
61596        181     Zimbabwe          2775       Plantes Aquatiques   2010
61597        181     Zimbabwe          2775       Plantes Aquatiques   2011
61598        181     Zimbabwe          2775       Plantes Aquatiques   2012
61599        181     Zimbabwe          2775       Plantes Aquatiques   2013
61600        181     Zimbabwe          2680    Aliments pour enfants   2010
61601        181     Zimbabwe          2680    Aliments pour enfants   2011
61602        181     Zimbabwe          2680    Aliments pour enfants   2012
61603        181     Zimbabwe          2680    Aliments pour enfants   2013

        dispo_int     alim_ani     semences       pertes    transfo  \
0      5596000000          NaN  313000000.0  678000000.0        NaN
1      5547000000          NaN  328000000.0  508000000.0        NaN
2      5884000000          NaN  316000000.0  758000000.0        NaN
3      5992000000          NaN  322000000.0  775000000.0        NaN
4       488000000          NaN   15000000.0   31000000.0        NaN
5       521000000          NaN   14000000.0   31000000.0        NaN
6       463000000          NaN   14000000.0   23000000.0        NaN
7       461000000          NaN   14000000.0   24000000.0        NaN
8       440000000  315000000.0   21000000.0   44000000.0        NaN
9       339000000  203000000.0   31000000.0   34000000.0        NaN
10      519000000  367000000.0   22000000.0   52000000.0        NaN
11      524000000  360000000.0   22000000.0   52000000.0        NaN
12      301000000  178000000.0   11000000.0   30000000.0        NaN
13      303000000  191000000.0    8000000.0   30000000.0        NaN
14      314000000  200000000.0    5000000.0   31000000.0        NaN
15      313000000  200000000.0    5000000.0   31000000.0        NaN
16       15000000          NaN          0.0    1000000.0        NaN
17       15000000          NaN          0.0    1000000.0        NaN
18       15000000          NaN          0.0    1000000.0        NaN
19       13000000          NaN          0.0    1000000.0        NaN
20              0          NaN          NaN          NaN        NaN
21              0          NaN          NaN          NaN        NaN
22              0          NaN          NaN          NaN        NaN
23              0          NaN          NaN          NaN        NaN
24      220000000          NaN   21000000.0    7000000.0        NaN
25      196000000          NaN   21000000.0    6000000.0        NaN
26      226000000          NaN   23000000.0    7000000.0        NaN
27      262000000          NaN   23000000.0    9000000.0        NaN
28       92000000   83000000.0          NaN          NaN  9000000.0
29       92000000   83000000.0          NaN          NaN  9000000.0
...           ...          ...          ...          ...        ...
61574           0          NaN          NaN          NaN        NaN
61575           0          NaN          NaN          NaN        NaN
61576    22000000   15000000.0          NaN          NaN        NaN
61577    23000000   15000000.0          NaN          NaN        NaN
61578    23000000   15000000.0          NaN          NaN        NaN
61579    23000000   15000000.0          NaN          NaN        NaN
61580     1000000          NaN          NaN          NaN        NaN
61581     2000000          NaN          NaN          NaN        NaN
61582     2000000          NaN          NaN          NaN        NaN
61583     2000000          NaN          NaN          NaN        NaN
61584           0          NaN          NaN          NaN        NaN
61585           0          NaN          NaN          NaN        NaN
61586           0          NaN          NaN          NaN        NaN
61587           0          NaN          NaN          NaN        NaN
61588           0          NaN          NaN          NaN        NaN
61589           0          NaN          NaN          NaN        NaN
61590           0          NaN          NaN          NaN        NaN
61591           0          NaN          NaN          NaN        NaN
61592     1000000          NaN          NaN          NaN        NaN
61593           0          NaN          NaN          NaN        NaN
61594           0          NaN          NaN          NaN        NaN
61595           0          NaN          NaN          NaN        NaN
61596           0          NaN          NaN          NaN        NaN
61597           0          NaN          NaN          NaN        NaN
61598           0          NaN          NaN          NaN        NaN
61599           0          NaN          NaN          NaN        NaN
61600           0          NaN          NaN          NaN        NaN
61601           0          NaN          NaN          NaN        NaN
61602           0          NaN          NaN          NaN        NaN
61603           0          NaN          NaN          NaN        NaN

         nourriture  autres_utilisations
0      4.605000e+09                  NaN
1      4.711000e+09                  NaN
2      4.810000e+09                  NaN
3      4.895000e+09                  NaN
4      4.420000e+08                  NaN
5      4.760000e+08                  NaN
6      4.250000e+08                  NaN
7      4.220000e+08                  NaN
8      6.000000e+07                  NaN
9      7.200000e+07                  NaN
10     7.800000e+07                  NaN
11     8.900000e+07                  NaN
12     8.200000e+07                  NaN
13     7.300000e+07                  NaN
14     7.700000e+07                  NaN
15     7.600000e+07                  NaN
16     1.400000e+07                  NaN
17     1.400000e+07                  NaN
18     1.400000e+07                  NaN
19     1.200000e+07                  NaN
20     0.000000e+00                  NaN
21     0.000000e+00                  NaN
22     0.000000e+00                  NaN
23     0.000000e+00                  NaN
24     1.920000e+08                  NaN
25     1.690000e+08                  NaN
26     1.960000e+08                  NaN
27     2.300000e+08                  NaN
28              NaN                  NaN
29              NaN                  NaN
...             ...                  ...
61574  0.000000e+00                  0.0
61575  0.000000e+00                  0.0
61576  7.000000e+06                  0.0
61577  9.000000e+06                  0.0
61578  9.000000e+06                  0.0
61579  9.000000e+06                  0.0
61580  1.000000e+06                  0.0
61581  2.000000e+06                  0.0
61582  2.000000e+06                  0.0
61583  2.000000e+06                  0.0
61584  0.000000e+00                  0.0
61585  0.000000e+00                  0.0
61586  0.000000e+00                  0.0
61587  0.000000e+00                  0.0
61588  0.000000e+00                  0.0
61589  0.000000e+00                  0.0
61590  0.000000e+00                  0.0
61591  0.000000e+00                  0.0
61592  1.000000e+06                  0.0
61593  0.000000e+00                  0.0
61594  0.000000e+00                  0.0
61595  0.000000e+00                  0.0
61596  0.000000e+00                  0.0
61597  0.000000e+00                  0.0
61598  0.000000e+00                  0.0
61599  0.000000e+00                  0.0
61600  0.000000e+00                  NaN
61601  0.000000e+00                  NaN
61602  0.000000e+00                  NaN
61603  0.000000e+00                  NaN

[61604 rows x 12 columns]

In [4]:
data4= pd.read_csv("C:/Users\/KyRun69\Downloads\ss_nutri.csv")
sous_nutrition_1=pd.DataFrame(data4)
ss_nutrition={"pays":sous_nutrition_1.Zone.tolist(),"code_pays":sous_nutrition_1["Code zone"].tolist(),"année":sous_nutrition_1.Année.tolist(),"nb_personnes":sous_nutrition_1.Valeur.tolist()}
sous_nutrition=pd.DataFrame(ss_nutrition)
sous_nutrition.nb_personnes=sous_nutrition.nb_personnes*1000000
sous_nutrition=sous_nutrition.rename(columns = {"année":"Annee"})
print(sous_nutrition)

sous_nutrition.to_csv("sous_nutrition_sql.csv", sep='\t', encoding='utf-8', index = False)

          Annee  code_pays  nb_personnes  \
0     2009-2011          2     6200000.0
1     2010-2012          2     6400000.0
2     2011-2013          2     6800000.0
3     2012-2014          2     7200000.0
4     2013-2015          2     7500000.0
5     2014-2016          2     7500000.0
6     2015-2017          2           NaN
7     2009-2011        202     2000000.0
8     2010-2012        202     1900000.0
9     2011-2013        202     1900000.0
10    2012-2014        202     2000000.0
11    2013-2015        202     2200000.0
12    2014-2016        202     2500000.0
13    2015-2017        202           NaN
14    2009-2011          3      200000.0
15    2010-2012          3      200000.0
16    2011-2013          3      200000.0
17    2012-2014          3      200000.0
18    2013-2015          3      100000.0
19    2014-2016          3      100000.0
20    2015-2017          3           NaN
21    2009-2011          4     2300000.0
22    2010-2012          4     2000000.0
23    2011-2013          4     1900000.0
24    2012-2014          4     1800000.0
25    2013-2015          4     1800000.0
26    2014-2016          4     1800000.0
27    2015-2017          4           NaN
28    2009-2011         79           NaN
29    2010-2012         79           NaN
...         ...        ...           ...
1398  2014-2016        236     4100000.0
1399  2015-2017        236           NaN
1400  2009-2011        237    12100000.0
1401  2010-2012        237    11600000.0
1402  2011-2013        237    11200000.0
1403  2012-2014        237    10800000.0
1404  2013-2015        237    10300000.0
1405  2014-2016        237    10000000.0
1406  2015-2017        237           NaN
1407  2009-2011        249     6100000.0
1408  2010-2012        249     6100000.0
1409  2011-2013        249     6100000.0
1410  2012-2014        249     6300000.0
1411  2013-2015        249     6600000.0
1412  2014-2016        249     7700000.0
1413  2015-2017        249           NaN
1414  2009-2011        251     6900000.0
1415  2010-2012        251     7000000.0
1416  2011-2013        251     7100000.0
1417  2012-2014        251     7200000.0
1418  2013-2015        251     7300000.0
1419  2014-2016        251     7400000.0
1420  2015-2017        251           NaN
1421  2009-2011        181     4700000.0
1422  2010-2012        181     4700000.0
1423  2011-2013        181     5000000.0
1424  2012-2014        181     5600000.0
1425  2013-2015        181     6300000.0
1426  2014-2016        181     7000000.0
1427  2015-2017        181           NaN

                                        pays
0                                Afghanistan
1                                Afghanistan
2                                Afghanistan
3                                Afghanistan
4                                Afghanistan
5                                Afghanistan
6                                Afghanistan
7                             Afrique du Sud
8                             Afrique du Sud
9                             Afrique du Sud
10                            Afrique du Sud
11                            Afrique du Sud
12                            Afrique du Sud
13                            Afrique du Sud
14                                   Albanie
15                                   Albanie
16                                   Albanie
17                                   Albanie
18                                   Albanie
19                                   Albanie
20                                   Albanie
21                                   Algérie
22                                   Algérie
23                                   Algérie
24                                   Algérie
25                                   Algérie
26                                   Algérie
27                                   Algérie
28                                 Allemagne
29                                 Allemagne
...                                      ...
1398  Venezuela (République bolivarienne du)
1399  Venezuela (République bolivarienne du)
1400                                Viet Nam
1401                                Viet Nam
1402                                Viet Nam
1403                                Viet Nam
1404                                Viet Nam
1405                                Viet Nam
1406                                Viet Nam
1407                                   Yémen
1408                                   Yémen
1409                                   Yémen
1410                                   Yémen
1411                                   Yémen
1412                                   Yémen
1413                                   Yémen
1414                                  Zambie
1415                                  Zambie
1416                                  Zambie
1417                                  Zambie
1418                                  Zambie
1419                                  Zambie
1420                                  Zambie
1421                                Zimbabwe
1422                                Zimbabwe
1423                                Zimbabwe
1424                                Zimbabwe
1425                                Zimbabwe
1426                                Zimbabwe
1427                                Zimbabwe

[1428 rows x 4 columns]